#root{
  background-color: #fafafa;
  width: 600px;
  margin: 0 auto;
  padding: 50px;
  height: 300px;
}
ul{
  display: flex;
  justify-content: center;
  li{
    list-style: none;
    margin-right: 10px;
    a{
      text-decoration: none;
      color: #fff;
    }
  }
}
.main{
  font-size: 30px;
  color: #000;
  span{
    text-decoration: underline;
    color: #111;
  }
}
